{% extends 'events/base.html' %}

{% block content %}


{% if user.is_authenticated %}
	{% if user == event.host %}

	<h1>Update Event...</h1>
	<br/>
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %} <!--Security Token-->
		{{ form.as_p }}
		<br/>
		<input type="submit" value="Update" class="btn btn-secondary"> <!--Submit button-->

	{% else %}
		<h2>Access Denied</h2>
		<p>Only the event's Host can update this event...</p>

		Logged In User: {{ user }}
		<br/>
		Event Host: {{ event.host }}
		<br/>
	{% endif %}


{% else %}
	<h1>Sorry! You Must Be Logged In To View This Page...</h1>
	<a href="{% url 'login' %}">Login Here</a>
{% endif %}
	<br/><br/><br/>

{% endblock %}
