{% extends 'events/base.html' %}

{% block content %}


<!--Displays the Update Venue form if user is logged in-->
{% if user.is_authenticated %}
	<h1>Update Venue...</h1>
	<br/>
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %} <!--Security Token-->
		{{ form.as_p }}
		<br/>
		<!--Submit button-->
		<input type="submit" value="Update" class="btn btn-secondary"> 
{% else %}
	<h1>Must be Logged In to update venues.</h1>
	<a href="{% url 'login' %}">Login Here</a>
{% endif %}

{% endblock %}
