{% extends 'events/base.html' %}

{% block content %}

	<h1>Venues</h1>
	
	<!--For loop to display a list of Venue links-->
	<br/>
	<table class="table table-hover table-striped table-bordered">
	{% for venue in venues %}
		<tr>
			<td><a href="{% url 'show-venue' venue.id %}">{{ venue }}</a> 
			</td>

			<!--Update and delete buttons are only visible to a logged in admin-->
			{% if user.is_authenticated %}
				{% if user.is_superuser %}
			<td align="right">
				<a href="{% url 'update-venue' venue.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
				<a href="{% url 'delete-venue' venue.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
			</td>
				{% endif %}
			{% endif %}
		</tr>
	{% endfor %}
	</table>
	<br><br>

	<!--Pagination at bottom of Venues page-->
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			
			{% if venues.has_previous %}
			<li class="page-item"></li><a class="page-link" href="?page=1">&laquo First</a></li>
			<li class="page-item"></li><a class="page-link" href="?page={{venues.previous_page_number}}">Previous</a></li>
			{% endif %}

			{% for i in nums %}
			<li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
			{% endfor %}

			{% if venues.has_next %}
			<li class="page-item"></li><a class="page-link" href="?page={{venues.next_page_number}}">Next</a></li>
			<li class="page-item"></li><a class="page-link" href="?page={{venues.paginator.num_pages}}">Last &raquo</a></li>
			{% endif %}
		</ul>
	</nav>
{% endblock %}
